In [1]:
import pandas as pd

In [2]:
df = pd.read_json("sample_data/classification.json")

In [5]:
import weak_nlp
from weak_nlp import classification


def get_cnlm_from_df(df):
    vectors = []
    for source_id, df_sub_source in df.fillna("manual").groupby("source_id"):
        associations = []
        for _, row in df_sub_source.iterrows():
            associations.append(
                classification.ClassificationAssociation(
                    row.record_id, row.label_id, confidence=row.confidence
                )
            )
        vectors.append(
            weak_nlp.SourceVector(source_id, source_id == "manual", associations)
        )
    return classification.CNLM(vectors)

In [7]:
cnlm = get_cnlm_from_df(df)

In [8]:
cnlm.quantity_metrics()

,identifier,label_name,record_coverage,source_conflicts,source_overlaps
0,80db6163-6a85-47ec-aebd-a7fc1a2098c1,cb648f7f-553f-4d0b-be34-f476d2fde6bb,24,24,0
1,bb26334c-ed93-43d0-b603-ed13e295c936,50bbb411-d173-4c68-91bb-512023536e2d,100,24,0

In [9]:
cnlm.quality_metrics()

,identifier,label_name,true_positives,false_positives,precision
0,80db6163-6a85-47ec-aebd-a7fc1a2098c1,cb648f7f-553f-4d0b-be34-f476d2fde6bb,3,2,0.600000
1,80db6163-6a85-47ec-aebd-a7fc1a2098c1,50bbb411-d173-4c68-91bb-512023536e2d,0,0,0.000000
2,bb26334c-ed93-43d0-b603-ed13e295c936,50bbb411-d173-4c68-91bb-512023536e2d,11,7,0.611111
3,bb26334c-ed93-43d0-b603-ed13e295c936,cb648f7f-553f-4d0b-be34-f476d2fde6bb,0,0,0.000000

In [ ]:
stats = {}
for source_id, quality_df_sub_source in quality_df.groupby("identifier"):
    stats[source_id] = {}
    for label_id, quality_df_sub_source_label in quality_df_sub_source.groupby("label_name"):
        row = quality_df_sub_source_label.iloc[0]
        stats[source_id][label_id] = {
            "true_positives": row["true_positives"],
            "false_positives": row["false_positives"],
            "false_negatives": 0
        }
stats