In [1]:
import pandas as pd

In [2]:
df = pd.read_json("sample_data/classification.json")

In [3]:
import weak_nlp
from weak_nlp import classification


def get_cnlm_from_df(df):
    vectors = []
    for source_id, df_sub_source in df.fillna("manual").groupby("source_id"):
        associations = []
        for _, row in df_sub_source.iterrows():
            associations.append(
                classification.ClassificationAssociation(
                    row.record_id, row.label_id, confidence=row.confidence
                )
            )
        vectors.append(
            weak_nlp.SourceVector(source_id, source_id == "manual", associations)
        )
    return classification.CNLM(vectors)

In [4]:
cnlm = get_cnlm_from_df(df)

In [5]:
cnlm.quantity_metrics()

,identifier,label_name,record_coverage,source_conflicts,source_overlaps
0,639f5911-d25b-4bbb-b304-787982003205,3f0d2784-8ee6-4290-9b00-5275a22a1f01,100,24,0
1,86ba09ae-316a-4552-bff6-0f8748882568,245c4d5e-0f67-4a2c-a857-0614cda7f8a3,24,24,0

In [6]:
cnlm.quality_metrics()

,identifier,label_name,true_positives,false_positives,precision
0,639f5911-d25b-4bbb-b304-787982003205,3f0d2784-8ee6-4290-9b00-5275a22a1f01,5,3,0.625
1,639f5911-d25b-4bbb-b304-787982003205,245c4d5e-0f67-4a2c-a857-0614cda7f8a3,0,0,0.000
2,86ba09ae-316a-4552-bff6-0f8748882568,245c4d5e-0f67-4a2c-a857-0614cda7f8a3,2,0,1.000
3,86ba09ae-316a-4552-bff6-0f8748882568,3f0d2784-8ee6-4290-9b00-5275a22a1f01,0,0,0.000