In [1]:
import pandas as pd

In [2]:
df = pd.read_json("sample_data/extraction.json")

In [3]:
import weak_nlp
from weak_nlp import extraction


def get_enlm_from_df(df):
    vectors = []
    for source_id, df_sub_source in df.fillna("manual").groupby("source_id"):
        associations = []
        for (record_id, label_id), df_sub_source_record_label in df_sub_source.groupby(
            ["record_id", "label_id"]
        ):
            max_token = max(df_sub_source_record_label.token_index)
            min_token = min(df_sub_source_record_label.token_index)
            confidence = df_sub_source_record_label.confidence.iloc[0]
            associations.append(
                extraction.ExtractionAssociation(
                    record_id,
                    label_id,
                    min_token,
                    max_token,
                    confidence=confidence,
                )
            )
        vectors.append(
            weak_nlp.SourceVector(source_id, source_id == "manual", associations)
        )

    return extraction.ENLM(vectors)

In [4]:
enlm = get_enlm_from_df(df)

In [5]:
enlm.vector_reference.associations

,record,label,confidence,chunk_idx_start,chunk_idx_end
0,6a7e90b0-5eca-43ad-8233-0949f5beb958,9ef20315-7cda-4565-9892-074bcf6ccdbb,manual,0,0

In [6]:
enlm.quantity_metrics()

,identifier,label_name,record_coverage,total_hits,source_conflicts,source_overlaps
0,64212588-59a7-4129-8fe4-c77dd7ca3a0c,9ef20315-7cda-4565-9892-074bcf6ccdbb,4,4,4,0
1,7ab2d211-2477-4a15-b992-3e07e41d9637,b3bc47b1-604d-48f3-ac48-608901aebe06,4,4,4,0

In [7]:
enlm.quality_metrics()

,identifier,label_name,true_positives,false_positives,false_negatives,precision,recall
0,64212588-59a7-4129-8fe4-c77dd7ca3a0c,9ef20315-7cda-4565-9892-074bcf6ccdbb,0,0,1,0.0,0.0
1,7ab2d211-2477-4a15-b992-3e07e41d9637,b3bc47b1-604d-48f3-ac48-608901aebe06,0,0,0,0.0,0.0
2,7ab2d211-2477-4a15-b992-3e07e41d9637,9ef20315-7cda-4565-9892-074bcf6ccdbb,0,0,1,0.0,0.0

In [8]:
enlm.weakly_supervise()

X
X
X
X

record
88eb8f2a-f8e9-4f36-84b3-131c12e682ca    []
6a7e90b0-5eca-43ad-8233-0949f5beb958    []
20fad4c8-4a8b-4e44-8e39-79f13115e473    []
dd0534d6-02d5-459e-9f9d-826ccc630a83    []
bac9b22e-75ab-493b-ad5a-1765e7074a1c    []
dtype: object